/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     font-size: 12px;
     line-height: 1.4;
     font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
     background: url("..//worldTravel.jpg") no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     
}


/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
#container {
	width: 960px;
	margin: auto;
}

header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/

#siteHeader {
     background-color: rgb(60,83,96);
     
}

.containerLogo {
     float: left;
     width: 50%;
     margin-left: 10px;
}

.containerNav {
     float: right;
     margin-right: 20px;
     margin-top: 20px;
}
.containerNav ul li {
     display: inline-block;
}

.containerNav a {
     text-decoration: none;
     color: white;
     font-size: 28px;
     padding-right: 20px;

}

.containerLogo h1 {
     color: white;
     float: right;
     font-size: 60px;
     font-weight: bold;
     margin-right: -165px;
     margin-top: 7px;
     margin-bottom: 0px;

     
}
.pictures {
     border-width: 2px;
     border-radius: 15px;
     border-style: solid;
     width: 800px;
     height: 400px;
     padding: 5px;
     float: left;
     margin-left: 50px;
     margin-top: 15px;
     background-color: white;
     border-color: grey;
     opacity: 0.9;
}
 
.pictures h1 {
     background-color: rgb(41,41,40);
     text-align: center;
     color: white;
     width: 825px;
     margin-left: -20px;
     height: 42px;
     padding-top: 4px;
}

#map-cavanas {
     display: none;
}

img {
     width: 25%;
     
}

.triangle-l {
    border-color: transparent rgb(41,41,40) transparent transparent;
    border-style:solid;
    border-width:13px;
    height:0;
    width:0;
    position: absolute;
    left: 24px;
    top: 174px;
}
.triangle-r {
    border-color: transparent transparent transparent rgb(41,41,40);
    border-style:solid;
    border-width:13px;
    height:0;
    width:0;
    position: absolute;
    left: 849px;
    top: 174px;
}

.secondL {
     margin-left: 110px;
}

.thirdL {
     margin-left: 62px;
}

.fourthL {
     margin-left: 15px;
}

.fifthL {
     margin-left: 130px;
}

.sixthL {
     margin-left: 45px;
}

.firstL input {
     position: absolute;
     top: 193px;
     left: 150px;
}

.secondL input {
     position: absolute;
     top: 193px;
     left: 465px;
}

.thirdL input {
     position: absolute;
     top: 193px;
     left: 720px;
}

.fourthL input {
     position: absolute;
     top: 480px;
     left: 150px;
}

.fifthL input {
     position: absolute;
     top: 480px;
     left: 465px;
}

.sixthL input {
     position: absolute;
     top: 480px;
     left: 720px;
}

.sixthL img {
     padding-bottom: 32px;
}

#findhotels {
     right: 100px;
     position: absolute;
     top: 130px;
}
.city {
     background: #fff;
     padding: 6px 6px 6px 8px;
     width: 202px;
     border: solid 1px #bcbbbb;
     outline: none;
     -webkit-border-radius: 2em;
     -moz-border-radius: 2em;
     border-radius: 2em;
     -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
     -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
     box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
     font-size: 15px;
     text-align: center;
}

.searchbutton {
     color: #fff;
     border: solid 1px #494949;
     font-size: 11px;
     height: 27px;
     width: 27px;
     text-shadow: 0 1px 1px rgba(0,0,0,.6);
     -webkit-border-radius: 2em;
     -moz-border-radius: 2em;
     border-radius: 2em;
     background: #5f5f5f;
     background: -webkit-gradient(linear, left top, left bottom, from(#9e9e9e), to(#454545));
}

#findhotels p {
     font-size: 20px;
     text-align: center;
     font-weight: bold;
     right: 50px;
}

#donut_single {
     width: 65%;
     height: 300px;
     margin-top: 50px;
     margin-left: -400px;
     position: absolute; 

}

.resultsContainer {
     position: absolute;
     top: 220px;
     right: 20px;
}